root = true

[*]
indent_style = space
indent_size = 5
end_of_line = lf
charset = utf-8
trim_traling_whitespace = true
insert_final_newline = true

[package.json]
indent_size = 2

[*.yml]
indent_size = 2

[*.md]
trim_trainling_whitespace = false
